.btn{
    padding: 0.5rem;
    background-color: rgb(255, 209, 215);
    border: 2px solid black;
    border-radius: 4px;
}

.add{
    padding-inline: 3rem;
}

.active{
    background-color: rgb(173, 201, 209);
    color: white;
}